* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

div.column-left,
div.column-right {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

div.column-center {
  width: 80%;
  border: 1px solid blue;
}

img.image {
  width: 100%;
}

.hidden {
  display: none;
}
